<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Vaccinator</title> 

    <style>

.footer {
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #f8f9fa;
    color: #6c757d;
    text-align: center;
 }

 #dp {

    transform: scale(0.5);

 }

 .contact img{

transform: scale(0.3);
}


a:link {
  color: #747474a1;
}

/* visited link */
a:visited {
  color: #747474a1;
}

/* mouse over link */
a:hover {
  color: rgb(0, 0, 0);
}

/* selected link */
a:active {
  color: #747474a1;
}
 
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid ">
      
        <a class="navbar-brand" href="/"> &nbsp; Vaccinator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/templates/about.html">About</a>
          </div>
        </div>
      </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="/static/mayukh.jfif" class="img-fluid rounded-circle" id="dp">
            </div>
            <div class="col-sm-8" style="padding-top: 10%;"> 
              <div class="text-justify lead"> <h4>Hey I am Mayukh, I was tired of checking CoWin for vaccine slots, so being a lazy hacker I made vaccinator.</h4></div>
            </div>
        </div>

        <div class="text-center" >
          <a href="https://github.com/mayukhpankaj/Vaccinator"><ion-icon name="logo-github" size="large"></ion-icon></a>
          <a href="https://www.linkedin.com/in/mayukh-pankaj/"><ion-icon name="logo-linkedin" size="large"></ion-icon></a>
          <a href="https://maycodes.medium.com/"><ion-icon name="logo-medium" size="large"></ion-icon></a>

        </div>


    
    <!----->

    <div class="footer">

      <p style="margin-bottom: 3px;"></p><center>Vaccinator Made with ❤️ in India 🇮🇳</center><p></p>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>