{% extends "base.html" %}

{% block title%} Register {% endblock %}

{%block content%}


<br>
<br>


<div class="container">
    <h4 style="color: #f37676; text-align: center;">{{message}}</h4>

<form action="#" method="POST"  class="col s12">

    <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="name" name="name" type="text" class="validate" required>
        <label for="icon_prefix">Name</label>
      </div>

      <div class="row">


            <div class="input-field col s12">
                <i class="material-icons prefix">mail</i>
                <input name="email"  id="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>


    </div>

<div style="padding-left: 20%;"></div>
   


    <div class="row">


        <div class='input-field col s1'>
            <i class="material-icons prefix">location_on</i>
            </div>
      

      <div class='input-field col s6'>
       
              <select class="browser-default" name="state" id="sel_state" onchange="show(this)" required>
                <option value="">---- State --</option>
            </select>
            
        </div>
        
     <div class='input-field col s5'>
        <select class="browser-default" name="district" id="sel_district" required>
          <option value="">-- District --</option>
        </select> 
     </div>


    </div>



        


    <br>

    

<center>
<a class="waves-effect waves-light btn"><input type="submit" value="register"/></a>
</center>


</form>

</div>


<script src="../static/register.js"></script>

{%endblock%}